body{
    background-color: lightcyan;
    padding:50px;
}
.container{
    background-color: white;
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: small;
}
.form-group{
    margin-bottom:30px;
}